<h2><%= @title %></h2>

<% if @count %>
  <%= @count %> results
<% end %>

<ul class="question_list">
  <li><%= render @questions %></li>
</ul>

<% if @answers %>
  <h2>Answer Matches</h2>
  <ul class="answer_list">
    <li><%= render @answers %></li>
  </ul>
<% end %>