

<%if @user %>
  <%= @user.name %>
  <%= @user.email %>
  <% end %>

<h3><%= link_to "Ask A Question", new_question_path %></h3>

<h2>Questions</h2>
<ul class="question_list">
  <% @questions.each do |question| %>
    <li> <%= link_to question.content, question %></li>
  <% end %>
</ul>



