<h2>questions containing tag: <%= @tag.name %></h2>

<ul class="question_list">
  <% @tag.questions.each do |question| %>
    <%= render partial: "questions/question", locals: { question: question } %>
  <% end %>
</ul>
