<h2>Questions containing '<%= @tag.name %>' tag:</h2>

<ul class="question_list">
  <% @tag.questions.each do |question| %>
    <%= render partial: "questions/question", locals: { question: question } %>
  <% end %>
</ul>
