
.wrapper{
  min-height: 100%;
  margin-bottom: -90px;
  display: block;
}

header .container{
  padding: 10px 20px;
}

.container {
  margin: 0 auto;
}

.sidebar {
  width: 20%;
  float: left;
  margin-top: 120px;
  margin-left: 5%;
  padding-right: 10px;
}

header{
width: 100%;
min-height: 100px;
max-height: 92px;
background: rgba(255,255,255,.96);
position: fixed;
top: 0;
left: 0;
border-bottom: 1px solid rgba(0,0,0,.35);
z-index: 50;
}

.header-logo {
  width:190px;
}

header nav {
  width: 45%;
  overflow: hidden;
  min-width: 600px;
}

div {
  display: block;
}

nav{
  display: inline-block;
  text-align: right;
  float: right;
  line-height: 50px;
  position: relative;
}

nav ul {
  list-style: none;
  padding-left: 0;
}

nav ul li {
  display: inline-block;
  margin-left: 20px;
}

nav ul a {
  color: #7f8081;
  text-decoration: none;
}

nav ul a.sign-in {
  color: #fff;
  padding: 5px 20px;
  text-align: center;
  background-color: #CE3A0F;
  border: 1px solid #b03b30;
  -moz-border-radius: 3px;

  border-radius: 3px;
  width: 87px;
  height: 25px;
  text-transform: uppercase;

  position: fixed;
  top: 20px;
  right: 80px;
  line-height: 25px;
}

.content {
  margin-top: 120px;
  margin-left: 5%;
  width: 55%;
  float: left;
}

p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

div#fullcontainer {
  background: white;
  margin-left: 200px;
  width: 100%;
  position: relative;
}

div#api-docs a.section-anchor {
  display: block;
  height: 0;
}

div #tagCloud {
  width:300px;
}

body{
  font-family: 'Montserrat', sans-serif;
}

h1{
  font-family: 'Montserrat', sans-serif;
}

h2{
  color: #96280B;
  font-size: 1.2em;
}

li{
  font-family: 'Montserrat', sans-serif;
  list-style: none;
}

li a{
  color: #7f8081;
  text-decoration: none;
}

#logo {
  text-decoration: none;
  color: #262626;
}

.container nav {
  position: absolute;
  top: 30px;
  right: 30px;
}

.vote_down, .vote_up {
  cursor: pointer;
}

.list_gravatars {
  width: 20px;
  height: 20px;
}

.profile_gravatar {
  width: 100px;
  height: 100px;
  border: 1px solid #96280B;
}

/* Vote Arrows */


.up_inactive {
  content:url('/assets/up_gray.png');
}

.up_active {
  content:url('/assets/up_blue.png');
}

.down_inactive {
  content:url('/assets/down_gray.png');
}

.down_active {
  content:url('/assets/down_blue.png');
}













